In [1]:
import pandas as pd
from pandas import read_csv
df = pd.read_csv("RetailCustomerSales3.csv")
print(df.describe())

         CustomerID  Profession  HaveChildren  ItemCategory1  ItemCategory2  \
count  5.000000e+02  500.000000    476.000000     500.000000     348.000000
mean   1.000045e+06    6.136000      0.497899       5.024000       9.635057
std    2.413286e+01    5.651317      0.500522       3.487082       5.075980
min    1.000001e+06    0.000000      0.000000       1.000000       2.000000
25%    1.000024e+06    1.000000      0.000000       1.000000       5.000000
50%    1.000045e+06    4.000000      0.000000       5.000000       8.000000
75%    1.000062e+06   10.000000      1.000000       8.000000      15.000000
max    1.000092e+06   20.000000      1.000000      18.000000      17.000000

       ItemCategory3        Amount
count     143.000000    500.000000
mean       12.328671   9347.886000
std         4.316324   4979.356118
min         3.000000    584.000000
25%         9.000000   5898.500000
50%        14.000000   8019.000000
75%        16.000000  12200.500000
max        18.000000  23792.000000

In [5]:
# read csv
df = pd.read_csv('RetailCustomerSales3.csv')
 
df_new = pd.get_dummies(df, columns=["CityType"], prefix="CityType")
  
# print the dataframe
print(df_new)

     CustomerID     ItemID Sex    Age  Profession YearsInCity  HaveChildren  \
0       1000001  P00069042   F   0-17          10           2           0.0
1       1000001  P00248942   F   0-17          10           2           0.0
2       1000001  P00087842   F   0-17          10           2           0.0
3       1000001  P00085442   F   0-17          10           2           0.0
4       1000002  P00285442   M    55+          16          4+           0.0
..          ...        ...  ..    ...         ...         ...           ...
495     1000092  P00317942   F  18-25           4           1           0.0
496     1000092  P00190042   F  18-25           4           1           0.0
497     1000092  P00328042   F  18-25           4           1           0.0
498     1000092  P00370242   F  18-25           4           1           0.0
499     1000092  P00340642   F  18-25           4           1           0.0

     ItemCategory1  ItemCategory2  ItemCategory3  Amount  CityType_A  \
0                3            NaN            NaN    8370           1
1                1            6.0           14.0   15200           1
2               12            NaN            NaN    1422           1
3               12           14.0            NaN    1057           1
4                8            NaN            NaN    7969           0
..             ...            ...            ...     ...         ...
495              8           16.0            NaN    7884           0
496              3            4.0            5.0   13400           0
497              8           14.0            NaN    2233           0
498              5            NaN            NaN    3545           0
499              5            NaN            NaN    1868           0

     CityType_B  CityType_C
0             0           0
1             0           0
2             0           0
3             0           0
4             0           1
..          ...         ...
495           1           0
496           1           0
497           1           0
498           1           0
499           1           0

[500 rows x 14 columns]